body {
  margin: 0;
  padding: 0;
}

#book-search, #results, #header-section, #saved-books {
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 20px 20px 40px 20px;
  margin: 40px 0px;
  font-family: 'Roboto', sans-serif;
}

.section-titles {
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  color: #4885ed;
}

.google-blue {
  color: #4885ed;
}

.google-red {
  color: #db3236;
}

.google-yellow {
  color: #f4c20d;
}

.google-green {
  color: #3cba54;
}