.navbar {
    background: #4885ed;
}

.navbar-brand {
    font-size: 1.5em !important;
}

.navbar-brand, .nav-link {
    color: white;
    border: 1px solid #4885ed;
}

.navbar-brand:hover {
    color: white;
}

.nav-link:hover {
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #2968d4;
    color: white;
} 