.card {
    color: #444;
}

.card-title, .card-text {
    font-family: 'Roboto', sans-serif;
}

.card-title {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.btnWrapper {
    position: absolute;
    right: 0;
}

.saveBtns {
    background: #3cba54 !important;
    border: 1px solid #3cba54 !important;
}

.viewBtns {
    background: #4885ed !important;
    border: 1px solid #4885ed !important;
    color: white !important;
}

.deleteBtns {
    background: #db3236 !important;
    border: 1px solid #db3236 !important;
}

.saveBtns:hover, .viewBtns:hover, .deleteBtns:hover {
    box-shadow: 1px 2px 4px #999;
} 